@model IEnumerable<Billet_Web.Models.Dto.BilletDTO>
<br/>
<div class=" container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Billet List</h1>
        </div>
        <div class="col text-end pt-1 ">
            <a asp-controller="Billet" asp-action="CreateBillet" class="btn btn-outline-primary "><i class="bi bi-plus-square-fill"></i>Create New Billet</a>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Answer1
                </th>
                <th>
                    Answer2
                </th>
                <th>
                    Answer3
                </th>
                <th>
                    Answer4
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Answer1</td>
                    <td>@item.Answer2</td>
                    <td>@item.Answer3</td>
                    <td>@item.Answer4</td>
                    <td>
                        <a asp-controller="Billet" asp-action="UpdateBillet" asp-route-billetId="@item.Id" class="btn btn-success "><i class="bi bi-pencil-square"></i></a>
                        <a asp-controller="Billet" asp-action="DeleteBillet" asp-route-billetId="@item.Id" class="btn btn-danger "><i class="bi bi-trash-fill"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
